@use "../utils" as *;

/*----------------------------------------*/
/*  2.8 Breadcrumb
/*----------------------------------------*/

.#{$theme-prefix}-breadcrumb {
  $self: &;
  &__ptb {
    padding-top: 220px;
    padding-bottom: 230px;
    overflow: hidden;
    @media #{$xl,$lg} {
      padding-top: 190px;
      padding-bottom: 190px;
    }
    @media #{$md,$xs} {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }
  &__bg {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }
  &__title {
    font-size: 70px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 15px;
    color: var(--tp-common-white);
    @media #{$xs} {
      font-size: 55px;
    }
  }
  &__list {
    & span {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: -0.36px;
      color: var(--tp-common-white);
      display: inline-block;
      &.dvdr {
        position: relative;
        display: inline-block;
        margin: 0 3px;
        width: 8px;
        height: 2px;
        background-color: var(--tp-common-white);
      }
    }
  }
  &__text {
    position: absolute;
    right: 50px;
    bottom: -80px;
    @media #{$md,$xs} {
      display: none;
    }
    &-title {
      font-size: 300px;
      font-weight: 600;
      line-height: 1;
      margin: 0;
      letter-spacing: -12px;
      color: transparent;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: rgba(255, 255, 255, 0.8);
      @media #{$lg} {
        font-size: 240px;
      }
    }
  }
}
