@use "../../utils" as *;
/*----------------------------------------*/
/*  5.4 Blog css
/*----------------------------------------*/

.#{$theme-prefix}-blog {
  &-item {
    &:hover {
      & .tp-blog-item {
        &-thumb {
          & img {
            transform: scale(1.1);
          }
        }
      }
    }
    &-thumb {
      overflow: hidden;
      margin-bottom: 20px;
      & img {
        @include transition-mul(1s);
        @media #{$sm,$xs} {
          width: 100%;
        }
      }
    }
    &-title {
      font-size: 22px;
      font-weight: 600;
      padding-bottom: 15px;
      margin-bottom: 20px;
      border-bottom: 1px solid #d8e0f1;
      color: var(--tp-heading-primary);
    }
  }
  &-meta {
    margin-bottom: 16px;
    &-btn {
      margin-right: 10px;
      & a {
        display: inline-block;
        padding: 4px 9px 6px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        border: 1px solid #d8e0f1;
        color: var(--tp-theme-primary);
      }
    }
    & span {
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
      color: var(--tp-text-body);
    }
  }
  &-user {
    &-thumb {
      margin-right: 10px;
    }
    &-content {
      & h6 {
        font-size: 14px;
        line-height: 1;
        margin-bottom: 0;
      }
      p {
        font-size: 14px;
      }
    }
  }
}

.#{$theme-prefix}-blog-2 {
  &-item {
    @include transition();
    background-color: var(--tp-common-white);
    &:hover {
      box-shadow: 0px 30px 50px 0px rgba(108, 84, 177, 0.1),
        0px 6px 0px 0px #f1913d;
      & .tp-blog-2 {
        &-thumb {
          & img {
            transform: scale(1.1) translateZ(0);
          }
        }
        &-date {
          color: var(--tp-common-white);
          background-color: var(--tp-theme-primary);
          & i {
            color: var(--tp-common-white);
          }
        }
      }
    }
  }
  &-thumb {
    overflow: hidden;
    & img {
      width: 100%;
      object-fit: cover;
      transform: scale(1) translateZ(0);
      transition: transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
    }
  }
  &-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 12px;
    letter-spacing: -0.48px;
    color: var(--tp-heading-primary);
  }
  &-meta {
    &-btn {
      margin-bottom: 14px;
      & a {
        font-size: 14px;
        font-weight: 600;
        padding: 4px 10px;
        background: #f0f4fd;
        color: var(--tp-theme-primary);
      }
    }
  }
  &-content {
    padding: 40px 40px 45px;
    @media #{$lg,$xs} {
      padding: 40px 20px 40px;
    }
    & p {
      line-height: 24px;
      margin-bottom: 32px;
    }
  }
  &-date {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    height: 56px;
    width: 56px;
    z-index: 1;
    @include transition();
    padding: 5px 12px;
    background-color: var(--tp-common-white);
    color: var(--tp-heading-primary);
    box-shadow: 0px 20px 20px 0px rgba(22, 34, 19, 0.1);
    & i {
      font-size: 13px;
      font-weight: 500;
      display: block;
      line-height: 1;
      font-style: normal;
      @include transition();
      color: var(--tp-text-body);
    }
  }
  &-btn {
    & a {
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      padding: 9px 29px;
      color: var(--tp-heading-primary);
      background-color: var(--tp-theme-secondary);
      &:hover {
        color: var(--tp-common-white);
        background-color: var(--tp-theme-primary);
      }
    }
  }
}

.#{$theme-prefix}-blog-3 {
  &-heading {
    @media #{$md,$xs} {
      margin-bottom: 20px;
    }
  }
  &-item {
    &:hover {
      & .tp-blog-3-item {
        &-thumb {
          &::after {
            animation: shine 800ms;
          }
        }
        &-title {
          border-color: var(--tp-heading-primary);
        }
      }
    }
    &-thumb {
      position: relative;
      overflow: hidden;
      margin-bottom: 20px;
      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: -75%;
        z-index: 2;
        display: block;
        width: 50%;
        height: 100%;
        transform: skewX(-25deg);
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.3) 100%
        );
      }
      & img {
        @media #{$xs} {
          width: 100%;
        }
      }
    }
    &-tag {
      margin-bottom: 15px;
      & span {
        position: relative;
        margin-right: 20px;
        padding-right: 20px;
        &::after {
          position: absolute;
          content: "";
          top: 50%;
          right: 0;
          height: 6px;
          width: 6px;
          border-radius: 50%;
          transform: translateY(-50%);
          background-color: var(--tp-text-body);
        }
      }
      & p {
        font-weight: 600;
        color: var(--tp-heading-primary);
      }
    }
    &-title {
      font-weight: 600;
      padding-bottom: 30px;
      margin-bottom: 16px;
      @include transition();
      border-bottom: 1px solid #d9d9d9;
      & a {
        &:hover {
          color: var(--tp-theme-primary);
        }
      }
      & br {
        @media #{$lg,$md,$xs} {
          display: none;
        }
      }
    }
  }
  &-btn {
    font-weight: 600;
    &.textline {
      background-image: linear-gradient(#f1913d, #f1913d),
        linear-gradient(#f1913d, #f1913d);
    }
    & span {
      margin-left: 4px;
      display: inline-block;
      transform: translateY(-1px);
    }
    &:hover {
      color: var(--tp-theme-primary);
    }
  }
}

.#{$theme-prefix}-blog-4 {
  &-ptb {
    padding-bottom: 210px;
    @media #{$md,$xs} {
      padding-top: 80;
    }
  }
}

.#{$theme-prefix}-blog-5 {
  &-ptb {
    padding-top: 320px;
  }
}
