$colors: (
  "common": (
    "white": #ffffff,
    "black": #000,
    "gray": #f0f4fd,
  ),
  "theme": (
    "primary": #5758d6,
    "secondary": #f0f4fd,
  ),
  "heading": (
    "primary": #262b35,
    "secondary": #1f242c,
  ),
  "text": (
    "body": #787878,
    "1": #01103d,
  ),
  "border": (
    "primary": #fef3df,
    "secondary": #f0f2f4,
  ),
);

$white: #ffffff;
$black: #0000;
$theme-primary: #5758d6;
$border-primary: #e6e6e6;
