@use "../../utils" as *;

/*----------------------------------------*/
/*  7.3 Awards Css
/*----------------------------------------*/

.#{$theme-prefix}-awards {
  &-item {
    padding-top: 35px;
    padding-bottom: 35px;
    border-bottom: 2px solid rgb(230, 230, 230);
    &:nth-child(1) {
      border-top: 2px solid rgb(230, 230, 230);
    }
    & a {
      display: block;
      height: 100%;
      width: 100%;
    }
    &::after {
      position: absolute;
      content: "";
      bottom: -1px;
      left: 0;
      width: 0;
      height: 2px;
      transition: all 0.7s ease-in-out;
      background: var(--tp-theme-primary);
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
    &-inner {
      &:hover {
        & .tp-awards-icon {
          & span {
            color: var(--tp-theme-primary);
          }
        }
      }
    }
    &-left {
      @media #{$xs} {
        flex-wrap: wrap;
      }
    }
  }
  &-date {
    margin-right: 180px;
    @media #{$lg} {
      margin-right: 140px;
    }
    @media #{$md} {
      margin-right: 100px;
    }
    @media #{$sm} {
      margin-right: 20px;
    }
    @media #{$xs} {
      margin-right: 0;
      margin-bottom: 5px;
    }
    &-title {
      font-size: 14px;
      font-weight: 500;
      color: var(--tp-heading-primary);
    }
  }
  &-title {
    font-size: 30px;
    font-weight: 600;
    color: var(--tp-heading-primary);
    &-wrap {
      margin-bottom: 50px;
    }
  }
  &-text {
    &-wrap {
      & span {
        font-size: 14px;
        font-weight: 400;
        display: inline-block;
      }
    }
  }
  &-icon {
    & span {
      font-size: 14px;
    }
  }
}

.tp-awards-item {
  & .tp-hover-reveal-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 252px;
    height: 257px;
    opacity: 0;
    margin: -150px 0 0 -150px;
    overflow: hidden;
    pointer-events: none;
    z-index: 99;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 20px 30px 0px rgba(3, 4, 28, 0.2);
    -webkit-transition: opacity 0.3s,
      transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
      -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: opacity 0.3s,
      transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
      -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -ms-transition: opacity 0.3s,
      transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
      -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: opacity 0.3s,
      transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
      -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
      -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  &:hover {
    & .tp-hover-reveal-bg {
      opacity: 1;
    }
  }
}

.#{$theme-prefix}-text {
  &-ptb {
    @media #{$xs} {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
  &-wrap {
    & div {
      font-size: 80px;
      font-weight: 600;
      line-height: 1;
      display: inline-block;
      letter-spacing: -1.6px;
      color: var(--tp-heading-primary);
      @media #{$xs} {
        font-size: 55px;
      }
      & span {
        position: relative;
        display: inline-block;
        margin-right: 42px;
        margin-bottom: 40px;
        @include transition();
        cursor: pointer;
        @media #{$xs} {
          margin-bottom: 25px;
          margin-right: 15px;
        }
        &:hover {
          color: var(--tp-theme-primary);
        }

        & .tp-hover-reveal-bg {
          position: absolute;
          top: 0;
          left: 0;
          width: 252px;
          height: 257px;
          opacity: 0;
          margin: -150px 0 0 -150px;
          overflow: hidden;
          pointer-events: none;
          z-index: 99;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          box-shadow: 0px 20px 30px 0px rgba(3, 4, 28, 0.2);
          -webkit-transition: opacity 0.3s,
            transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
            -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
          -moz-transition: opacity 0.3s,
            transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
            -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
          -ms-transition: opacity 0.3s,
            transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
            -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
          -o-transition: opacity 0.3s,
            transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
            -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
          transition: opacity 0.3s,
            transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
            -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        &:hover {
          & .tp-hover-reveal-bg {
            opacity: 1;
          }
        }
      }
    }
  }
}

.#{$theme-prefix}-error {
  &-ptb {
    background: linear-gradient(
      180deg,
      #f0f4fd 0%,
      rgba(240, 240, 245, 0) 82.84%
    );
  }
  &-thumb {
    margin-bottom: 50px;
    & img {
      width: 100%;
    }
  }
  &-content {
    & .tp-section-title {
      margin-bottom: 40px;
    }
  }
}
