@use "../../utils" as *;

/*----------------------------------------*/
/*  8.8 Property Css
/*----------------------------------------*/

.#{$theme-prefix}-property {
  &-ptb {
    background-repeat: no-repeat;
  }
  &-section {
    &-title {
      font-size: 42px;
      font-weight: 600;
      letter-spacing: -0.84px;
    }
  }
  &-list {
    & span {
      font-size: 14px;
      font-weight: 500;
      color: #80858f;
      letter-spacing: -0.36px;
      display: inline-block;
      &.dvdr {
        position: relative;
        display: inline-block;
        margin: 0 3px;
        width: 8px;
        height: 2px;
        background-color: #80858f;
      }
      &.active {
        color: var(--tp-theme-primary);
      }
    }
  }
  &-tabs {
    &-select {
      margin-right: 40px;
      @media #{$lg,$md} {
        margin-right: 20px;
      }
      @media #{$xs} {
        margin-right: 20px;
        margin-bottom: 20px;
        display: inline-block;
      }
      & .nice-select {
        font-size: 14px;
        width: 370px;
        height: 50px;
        border-radius: 0;
        font-weight: 500;
        line-height: 50px;
        border: 1px solid #dbe1ef;
        @media #{$lg,$xs} {
          width: 300px;
        }
        & .list {
          width: 100%;
          border-radius: 0;
        }
        &::after {
          color: var(--tp-heading-primary);
        }
      }
    }
    & .nav {
      border: none;
      & .nav-item {
        &:not(:last-child) {
          margin-right: 10px;
        }
        & .nav-link {
          display: inline-block;
          text-align: center;
          height: 60px;
          width: 60px;
          border-radius: 0;
          color: var(--tp-heading-primary);
          background: var(--tp-common-white);
          border: 1px solid #dbe1ef;
          &.active {
            color: var(--tp-common-white);
            background-color: var(--tp-theme-primary);
          }
        }
      }
    }
  }
  &-contact {
    padding: 30px 32px 10px;
    border: 1px solid #dbe1ef;
    background: var(--tp-common-white);
  }
  &-filter {
    &-wrap {
      padding: 30px;
      border: 1px solid #dbe1ef;
      background: var(--tp-common-white);
    }
    &-box {
      padding: 30px;
      background-color: #f0f4fd;
    }
    &-title {
      font-size: 14px;
      font-weight: 600;
    }
    &-item {
      &-btn {
        & .tp-btn {
          padding: 18px 30px;
        }
      }
    }
  }
  &-widget {
    &-filter {
      &-title {
        margin-right: 0;
      }
      .ui-widget.ui-widget-content {
        position: relative;
        height: 6px;
        border: 0;
        border-radius: 0;
        margin-top: 10px;
        background-color: var(--tp-common-white);
        box-shadow: 0px 0px 4px 0px rgba(192, 204, 231, 0.6);
      }

      .ui-slider-horizontal .ui-slider-range {
        border-radius: 0;
        background-color: var(--tp-theme-primary);
      }

      .ui-slider .ui-slider-handle {
        position: absolute;
        top: -2px;
        width: 10px;
        height: 10px;
        padding: 0;
        margin: 0;
        border-radius: 0;
        background-color: transparent;
        border: 3px solid var(--tp-theme-primary);
        &:focus-visible {
          outline: none;
        }
      }
      & .input-range {
        position: absolute;
        right: 0;
        top: -10px;
        & input {
          padding: 0;
          border: 0;
          height: 45px;
          font-weight: 500;
          font-size: 15px;
          text-align: end;
          background-color: transparent;
          color: var(--tp-heading-primary);
        }
      }
    }
  }
  &-recent-post {
    &-title {
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      margin-bottom: 5px;
      & a {
        &:hover {
          color: var(--tp-theme-primary);
        }
      }
    }
    &-thumb {
      overflow: hidden;
      flex: 0 0 auto;
      & img {
        width: 100%;
        overflow: hidden;
        transition: all 0.3s 0s ease-out;
      }
      &:hover {
        & img {
          transform: scale(1.08);
        }
      }
    }
    &-meta {
      line-height: 1;
      & span {
        font-size: 12px;
        font-weight: 600;
        color: var(--tp-theme-primary);
      }
    }
  }
}

.#{$theme-prefix}-property-details {
  &-title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 15px;
    letter-spacing: -0.72px;
    color: var(--tp-heading-primary);
  }
  &-heading {
    @media #{$md,$xs} {
      margin-bottom: 30px;
    }
    & span {
      display: inline-block;
      font-weight: 500;
      margin-bottom: 20px;
    }
  }
  &-info {
    & span {
      margin-right: 20px;
      color: var(--tp-heading-primary);
      & svg {
        margin-right: 5px;
        transform: translateY(-2px);
      }
    }
  }
  &-icon {
    &-box {
      margin-bottom: 22px;
      & button {
        display: inline-block;
        height: 52px;
        width: 52px;
        text-align: center;
        line-height: 50px;
        border: 1px solid #e6e6e6;
        &:not(:last-child) {
          margin-right: 12px;
        }
        &:hover {
          color: var(--tp-common-white);
          background-color: var(--tp-theme-primary);
        }
      }
    }
    &-price {
      font-size: 42px;
      font-weight: 600;
      letter-spacing: -0.84px;
      color: var(--tp-theme-primary);
    }
  }
  &-slider {
    &-thumb {
      & img {
        width: 100%;
        height: 590px;
      }
    }
  }
  &-box {
    padding: 30px;
    background: var(--tp-common-white);
    box-shadow: 0px 0px 40px 0px rgba(103, 103, 129, 0.08);
    &.box-2 {
      padding: 30px 30px 10px;
    }
    &.box-8 {
      padding: 30px 30px 38px;
    }
    &.box-9 {
      background-color: #f0f4fd;
      box-shadow: none;
    }
    &-title {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 32px;
      padding-bottom: 28px;
      border-bottom: 1px solid #e6e6e6;
    }
    &-desc {
      & p {
        & br {
          @media #{$lg,$xs} {
            display: none;
          }
        }
      }
    }
  }
  &-tags {
    &-icon {
      margin-right: 10px;
      & span {
        display: inline-block;
        height: 42px;
        width: 42px;
        line-height: 42px;
        text-align: center;
        background: var(--tp-common-white);
        box-shadow: 0px 0px 6px 0px rgba(37, 32, 65, 0.08);
      }
    }
    &-content {
      & span {
        font-size: 14px;
        font-weight: 400;
        color: var(--tp-text-body);
      }
      & p {
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        color: var(--tp-heading-primary);
      }
    }
  }
  &-video {
    & .main {
      width: 100%;
    }
    &-title {
      position: absolute;
      top: 40px;
      left: 30px;
      font-size: 36px;
      font-weight: 600;
      letter-spacing: -0.72px;
      color: rgba(255, 255, 255, 0.9);
      @media #{$md,$xs} {
        font-size: 22px;
      }
    }
    &-shape {
      &-1 {
        position: absolute;
        bottom: 73px;
        left: 30px;
        @media #{$md,$xs} {
          display: none;
        }
      }
      &-2 {
        position: absolute;
        bottom: 0;
        right: 27px;
        @media #{$xs} {
          display: none;
        }
      }
    }
    &-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &-attachment {
    &-item {
      padding: 30px;
      width: 325px;
      background: var(--tp-common-white);
      box-shadow: 0px 0px 6px 0px rgba(37, 32, 65, 0.08);
      &:not(:last-child) {
        margin-right: 40px;
        @media #{$xl,$lg,$md,$xs} {
          margin-right: 20px;
        }
      }
      @media #{$xl} {
        width: 300px;
      }
    }
    &-icon {
      margin-right: 15px;
    }
    &-title {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 0;
    }
    &-content {
      & span {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
  &-gallery {
    @media #{$md,$xs} {
      margin-bottom: 20px;
    }
  }
  &-maps {
    width: 100%;
    height: 360px;
    & iframe {
      width: 100%;
      height: 100%;
    }

    &-wrap {
      margin-bottom: 30px;
      & span {
        font-weight: 500;
        & svg {
          margin-right: 5px;
          transform: translateY(-1px);
        }
        &:not(:last-child) {
          margin-right: 50px;
        }
      }
    }
  }
  &-plans {
    margin-bottom: 70px;
    &-thumb {
      width: 100%;
      & img {
        width: 100%;
      }
    }
    &-btn {
      & .nav {
        border: none;
        & .nav-link {
          font-size: 14px;
          font-weight: 600;
          padding: 7px 19px;
          display: inline-block;
          border-radius: 0;
          border: 1px solid #e6e6e6;
          color: var(--tp-heading-primary);
          &:hover,
          &.active {
            color: var(--tp-common-white);
            border-color: var(--tp-theme-primary);
            background-color: var(--tp-theme-primary);
          }
          margin-right: 10px;
        }
      }
    }
    &-tag {
      @media #{$xs} {
        flex-wrap: wrap;
      }
      & p {
        position: relative;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        &:not(:last-child) {
          margin-right: 28px;
          @media #{$xs} {
            margin-bottom: 10px;
          }
        }
        & span {
          display: inline-block;
          margin-right: 10px;
          padding-right: 10px;
          transform: translateY(-2px);
          border-right: 1px solid #d9d9d9;
        }
      }
    }
  }
  &-input {
    margin-bottom: 20px;
    & input,
    & textarea {
      height: 60px;
      resize: none;
      padding-left: 25px;
      border: 1px solid #dde4f5;
    }
    & textarea {
      height: 170px;
      &:focus {
        border-color: var(--tp-theme-primary);
      }
    }
  }
  &-select {
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
    & .nice-select {
      border-radius: 0;
      height: 50px;
      line-height: 50px;
      border: 1px solid #dde4f5;
      &:focus {
        border-color: var(--tp-theme-primary);
      }
      & .list {
        border-radius: 0;
      }
    }
  }
  &-checking {
    & ul {
      & li {
        list-style: none;
        & .tp-contact-input-remeber {
          margin-bottom: 10px;
          & label {
            font-weight: 500;
          }
        }
      }
    }
  }
}

.tp-property-category {
  & span {
    font-size: 14px;
    font-weight: 400;
    position: relative;
    padding-left: 10px;
    color: var(--tp-text-body);
    z-index: 1;
  }
}
