@use "../../utils" as *;

/*----------------------------------------*/
/*  9.0 Service Css
/*----------------------------------------*/

.#{$theme-prefix}-service {
  &-border {
    border-bottom: 1px solid #d9d9d9;
    &-top {
      border-top: 1px solid #d9d9d9;
    }
  }
  &-item {
    position: relative;
    padding: 60px 60px;
    border-left: 1px solid #d9d9d9;
    @media #{$xl,$md,$xs} {
      padding: 50px 51px;
    }
    @media #{$lg,$md,$xs} {
      border: none;
    }
    &-box {
      @media #{$lg,$md,$xs} {
        flex-wrap: wrap;
      }
    }
    & span {
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 12px;
      font-weight: 600;
      padding: 0px 4px;
      display: inline-block;
      background: #f0f4fd;
      color: var(--tp-theme-primary);
    }
    & img {
      margin-bottom: 5px;
    }
    &-title {
      font-size: 14px;
      font-weight: 600;
      margin: 0;
      color: var(--tp-heading-primary);
    }
  }
}

.#{$theme-prefix}-service-5 {
  &-ptb {
    @media #{$xs} {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
  &-shape {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  &-thumb {
    @media #{$lg,$md,$xs} {
      margin-bottom: 30px;
    }
    & img {
      @media #{$lg,$xs} {
        width: 100%;
      }
    }
  }
  &-item {
    width: 234px;
    &:nth-child(odd) {
      margin-right: 60px;
    }
    &-box {
      @media #{$md,$xs} {
        margin-bottom: 0;
      }
    }
    &-icon {
      & span {
        height: 80px;
        width: 80px;
        text-align: center;
        line-height: 80px;
        border-radius: 80px;
        margin-right: 20px;
        display: inline-block;
        background: var(--tp-common-white);
        box-shadow: 0px 0px 40px 0px rgba(32, 36, 81, 0.07);
      }
    }
    & span {
      font-size: 14px;
      font-weight: 500;
      color: var(--tp-heading-primary);
    }
  }
  &-btn {
    &-box {
      @media #{$xs} {
        flex-wrap: wrap;
      }
    }
    & .tp-btn {
      @media #{$lg,$md,$xs} {
        padding: 18px 18px;
      }
    }
  }
}
