@use "../../utils" as *;

/*----------------------------------------*/
/*  9.1 Slider Css
/*----------------------------------------*/

.#{$theme-prefix}-text {
  &-round-box {
    position: absolute;
    bottom: -120px;
    right: 500px;
    z-index: 1;
    border-radius: 50%;

    @media #{$xl,$lg} {
      right: 300px;
    }

    @media #{$md} {
      right: 80px;
    }

    @media #{$xs} {
      display: none;
    }

    & img {
      animation: circle-animations 15s forwards infinite alternate;
    }

    & span {
      display: inline-block;
      position: absolute;
      height: 71px;
      width: 71px;
      border-radius: 50%;
      text-align: center;
      top: 50%;
      left: 50%;
      z-index: 2;
      font-size: 40px;
      font-weight: 600;
      line-height: 75px;
      letter-spacing: -0.8px;
      transform: translate(-50%, -50%);
      color: var(--tp-common-white);
      background-color: var(--tp-theme-primary);
    }
  }

  &-sliding {
    overflow: hidden;

    &-2 {
      overflow: hidden;
    }
  }

  &-scroll {
    &-hr {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      white-space: nowrap;

      &-2 {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        white-space: nowrap;
      }
    }

    &-wrap {
      display: flex;
      -webkit-animation: scrollText 200s infinite linear;
      animation: scrollText 200s infinite linear;

      &-2 {
        display: flex;
        -webkit-animation: scrollText-2 80s infinite linear;
        animation: scrollText-2 80s infinite linear;
      }
    }
  }

  &-title {
    background: linear-gradient(180deg, #e7eefd 9.18%, #fcfdff 90.82%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 120px;
    font-weight: 600;
    line-height: 1;
    margin: 0;
    letter-spacing: -2.4px;

    &-2 {
      font-size: 120px;
      font-weight: 600;
      line-height: 1.3;
      letter-spacing: -2.4px;
      color: var(--tp-theme-primary);
      margin: 0;

      & span {
        display: inline-block;
        margin-right: 80px;
        @include transition();

        @media #{$xs} {
          margin-right: 30px;
        }

        &:hover {
          color: var(--tp-heading-primary);
        }
      }
    }
  }
}

.slider-transtion {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.#{$theme-prefix}-slider {
  &-5 {
    &-bg {
      height: 874px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &-wrap {
      position: relative;
    }

    &-wrapper {
      height: 100vh;

      @media #{$xxl} {
        padding-bottom: 40px;
      }
    }

    &-heading {
      & span {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 30px;
        color: var(--tp-common-white);
      }
    }

    &-title {
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 15px;
      letter-spacing: -0.72px;
      color: var(--tp-common-white);
    }

    &-price {
      font-size: 42px;
      font-weight: 600;
      letter-spacing: -0.84px;
      color: var(--tp-common-white);
    }

    &-active {
      & .slick-active {
        &.slick-initialized .slick-slide {
          object-fit: cover;
          @include transition();
          display: inline-block;
          margin: 0 5px;
        }
      }
    }

    &-arrow {
      position: absolute;
      bottom: 156px;
      right: 0;
      width: 945px;
      z-index: 1;

      @media #{$xl} {
        right: -200px;
      }

      @media #{$lg} {
        right: -345px;
      }

      @media #{$md,$xs} {
        display: none;
      }

      & .slick-track {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &-thumb {
      &-sm {
        display: inline-block;
        position: relative;
        cursor: pointer;

        & img {
          height: 300px;
          width: 280px;
          object-fit: cover;
          @include transition();
          display: inline-block;

          @media #{$xs} {
            width: 100%;
            border-right: 5px solid var(--tp-common-white);
          }
        }
      }
    }
  }
}

/* Style for the slider */
.custom-slider {
  height: 6px;

  .custom-slider-rail {
    height: 2px;
    background-color: var(--tp-theme-primary);
  }

  .rc-slider-track {
    background-color: var(--tp-theme-primary) !important;
  }

  .custom-slider-handle {
    height: 20px;
    width: 20px;
    background-color: var(--tp-theme-primary);
    border: 2px solid var(--tp-common-white);
  }
}
