@use "../utils" as *;
/*---------------------------------
    1.2 Common Classes
---------------------------------*/

.w-img {
  & img {
    width: 100%;
  }
}

.m-img {
  & img {
    max-width: 100%;
  }
}

.fix {
  overflow: hidden;
}
.clear {
  clear: both;
}

.z-index-1 {
  z-index: 1;
}

.z-index-3 {
  z-index: 3;
}

.z-index-11 {
  z-index: 11;
}

.overflow-y-visible {
  overflow-x: hidden;
  overflow-y: visible;
}

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}

.include-bg {
  @include background();
}

.grid__item-img {
  display: block;
  height: 500px;
  width: 500px;
}

@media (min-width: 1400px) {
  .container-large {
    max-width: 1710px;
  }
}

@media (min-width: 1400px) {
  .container-custom {
    max-width: 1545px;
  }
}

@media (min-width: 1400px) {
  .container-1600 {
    max-width: 1600px;
  }
}

@media (min-width: 1400px) {
  .container-1500 {
    max-width: 1500px;
  }
}

@media (min-width: 1400px) {
  .container-1320 {
    max-width: 1350px;
  }
}

// demo for method
.demo {
  @include transition(color, 0.3s, linear);

  @include transition-mul((color 0.3s linear, transform 0.2s ease));

  @include rtl {
    margin-left: 0;
    margin-right: 15px;
  }
  @include root("div") {
    img {
      margin-left: 10px;
    }
  }
}

//CURSOR
.tp-cursor-point-area {
  cursor: none;
}

.mouseCursor {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  border-radius: 50%;
  transform: translateZ(0);
  visibility: hidden;
  text-align: center;
  &.cursor-big {
    width: 90px;
    height: 90px;
    &.cursor-outer {
      display: none;
    }
  }
}

.cursor-inner {
  margin-left: -3px;
  margin-top: -3px;
  width: 0px;
  height: 0px;
  z-index: 10000001;
  background-color: var(--tp-heading-primary);
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
    margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
  & span {
    opacity: 0;
    font-size: 14px;
    line-height: 85px;
    color: var(--tp-common-white);
  }
  &.cursor-big {
    & span {
      opacity: 1;
    }
  }
}

// video btn effect
.effect {
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    border-radius: 100%;
    -webkit-animation: effectPlay 2s infinite;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 14px 24px -1px rgba(20, 0, 77, 0.31);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

// for svg
// on hover stroke animation
// not checked
.class {
  stroke-dasharray: 189px, 191px;
  stroke-dashoffset: 0px;
}

/* gutter for x axis */
.tp-gx-10 {
  --bs-gutter-x: 10px;

  @media #{$lg} {
    --bs-gutter-x: 10px;
  }

  @media #{$md} {
    --bs-gutter-x: 10px;
  }

  @media #{$sm} {
    --bs-gutter-x: 5px;
  }

  @media #{$xs} {
    --bs-gutter-x: 5px;
  }

  & [class*="col-"] {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  }
}

.tp-gx-20 {
  --bs-gutter-x: 20px;

  @media #{$lg} {
    --bs-gutter-x: 20px;
  }

  @media #{$md} {
    --bs-gutter-x: 20px;
  }

  @media #{$sm} {
    --bs-gutter-x: 15px;
  }

  @media #{$xs} {
    --bs-gutter-x: 10px;
  }

  & [class*="col-"] {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  }
}

/* gutter for x axis */
.tp-gx-30 {
  --bs-gutter-x: 30px;

  @media #{$lg} {
    --bs-gutter-x: 30px;
  }

  @media #{$md} {
    --bs-gutter-x: 30px;
  }

  @media #{$sm} {
    --bs-gutter-x: 15px;
  }

  @media #{$xs} {
    --bs-gutter-x: 10px;
  }

  & [class*="col-"] {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  }
}

/* gutter for x axis */
.tp-gx-40 {
  --bs-gutter-x: 40px;

  @media #{$lg} {
    --bs-gutter-x: 40px;
  }

  @media #{$md} {
    --bs-gutter-x: 30px;
  }

  @media #{$sm} {
    --bs-gutter-x: 30px;
  }

  @media #{$xs} {
    --bs-gutter-x: 15px;
  }

  & [class*="col-"] {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  }
}

.textline {
  background-repeat: no-repeat;
  background-size: 0% 1px, 0 1px;
  background-position: 100% 100%, 0 100%;
  transition: background-size 0.3s linear;
  background-image: linear-gradient(#262b35, #262b35),
    linear-gradient(#262b35, #262b35);
  &:hover {
    background-size: 0% 1px, 100% 1px;
  }
}

.tp-modal-box {
  & .modal {
    --bs-modal-width: 546px;
  }
}

.image-anime {
  position: relative;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
  }
  &:hover:after {
    height: 250%;
    transition: all 600ms linear;
    background-color: transparent;
  }
}
